body
{
    margin: 0;
    padding: 0;

    font-family: LazurskiC, sans-serif;
}

@font-face
{
    font-family: 'IntroCaps';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/IntroCaps.woff2') format('woff2'),
    url('fonts/IntroCaps.woff') format('woff');
}

@font-face
{
    font-family: 'LazurskiC';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/LazurskiC.woff2') format('woff2'),
    url('fonts/LazurskiC.woff') format('woff');
}

@font-face
{
    font-family: 'LazurskiC';
    font-weight: bold;
    font-style: italic;

    src: url('fonts/LazurskiC-BoldItalic.woff2') format('woff2'),
    url('fonts/LazurskiC-BoldItalic.woff') format('woff');
}

@font-face
{
    font-family: 'LazurskiC';
    font-weight: normal;
    font-style: italic;

    src: url('fonts/LazurskiC-Italic.woff2') format('woff2'),
    url('fonts/LazurskiC-Italic.woff') format('woff');
}

@font-face
{
    font-family: 'PFRegal';
    font-weight: bold;
    font-style: normal;

    src: url('fonts/PFRegalDisplayPro-Bold.woff2') format('woff2'),
    url('fonts/PFRegalDisplayPro-Bold.woff') format('woff');
}

.header
{
    position: fixed;
}
