body
{
    min-width: 320px;
    min-height: 460px;
    margin: 0;
    padding: 0;

    font-family: Lazurski, sans-serif;

    color: #363636;
    background: #303030;
}

*::selection
{
    color: #fff;
    background: #bd8f65;
}

[draggable='false']
{
    user-select: none;
    pointer-events: none;

    user-drag: none;
}
