.horizontal-slide.achievements__slide
{
    display: inline-flex;

    background: #f7f6f5;

    justify-content: center;
    align-items: center;
}

.achievements__slide
{
    padding: 90px 180px;
}

.achievements__inner
{
    position: relative;
}

.achievements__diploma
{
    width: 50%;
    padding: 0 2.5% 0 0;

    text-align: right;
}

.achievements__diploma-image
{
    max-width: 100%;
    max-height: 500px;
}

.achievements__total
{
    text-align: center;
}

.achievements__total-number
{
    font: bold 326px / .7 PFRegal, serif;

    color: #c39a78;
}

.achievements__total-text
{
    font: bold 86px / 1 PFRegal, serif;

    color: #979797;
}

.achievements__content
{
    width: 50%;
    padding: 0 0 0 2.5%;

    font-family: IntroCaps, sans-serif;
}

.achievements__title
{
    margin: 0 0 5px;

    font-size: 22px;
    line-height: 26px;

    color: rgba(54, 54, 54, .8);
}

.achievements figure
{
    display: inline-block;

    width: auto;
    margin: 0;
}

.achievements__sub-title
{
    margin: 0 0 20px;

    font-size: 14px;

    color: rgba(0, 0, 0, .5);
}

.achievements__jewellery-image
{
    margin: 0 0 15px;
}

.achievements__jewellery-name
{
    margin: 0 0 5px;

    font-size: 12px;

    color: #6e6e6d;
}

.achievements__passport
{
    text-decoration: none;

    font: italic 14px / 18px Lazurski, serif;

    color: rgba(0, 0, 0, .55);
}

.achievements .arrow-button
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto;
}

.achievements .arrow-button_prev
{
    left: 120px;
}

.achievements .arrow-button_next
{
    right: 120px;
}

@media (min-width: 1280px)
{
    .achievements .gallery-open__button
    {
        transform: translate(-50%, -30px);
    }
}

@media (min-width: 768px)
{
    .achievements .gallery-open__button
    {
        transform: translate(-50%, -15px);
    }
}


@media (max-width: 1280px)
{
    .achievements__slide
    {
        padding: 90px 100px;
    }

    .achievements__title
    {
        font-size: 19px;
        line-height: 23px;
    }

    .achievements__diploma-image
    {
        max-height: 400px;
    }

    .achievements .arrow-button_prev
    {
        left: 30px;
    }

    .achievements .arrow-button_next
    {
        right: 30px;
    }
}

@media (max-width: 767px)
{
    .achievements__slide
    {
        padding: 0;
    }

    .achievements__content
    {
        position: relative;

        width: 310px;
        height: 200px;
        padding: 0;

        text-align: center;
    }

    .achievements__title-wrapper,
    .achievements figure
    {
        position: absolute;
        left: 0;

        width: 100%;
    }

    .achievements__title-wrapper
    {
        bottom: 100%;
    }

    .achievements__title
    {
        padding: 0 40px;

        font-size: 16px;
        line-height: 1.2;
    }

    .achievements__sub-title
    {
        font-size: 11px;
    }

    .achievements figure
    {
        top: 100%;
    }

    .achievements figcaption
    {
        display: none;
    }

    .achievements__jewellery-image
    {
        max-width: 200px;
        max-height: 80px;
    }

    .achievements__diploma
    {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100%;
        max-width: 310px;
        height: 100%;
        max-height: 210px;
        margin: auto;
        padding: 0;

        text-align: center;
    }

    .achievements .gallery-open
    {
        width: 100%;
        height: 100%;
    }

    .achievements__diploma-image
    {
        max-height: 100%;
    }

    .achievements__total-number
    {
        font-size: 150px;
    }

    .achievements__total-text
    {
        font-size: 45px;
    }

    .achievements .arrow-button
    {
        width: 40px;
        height: 40px;

        opacity: .5;
        border: none;
        background-color: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);

        transform: translateY(-15px);
    }

    .achievements .arrow-button:before
    {
        width: 15px;
        height: 15px;
    }

    .achievements .arrow-button_prev
    {
        left: 10px;
    }

    .achievements .arrow-button_next
    {
        right: 10px;
    }
}

@media (min-width: 1600px)
{
    .horizontal-slide.achievements__slide
    {
        transform: translateZ(0) scale(1.2);
    }
}
