.arrow-button
{
    position: relative;

    width: 50px;
    height: 50px;

    cursor: pointer;

    opacity: .6;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    background: none;

    transition: .15s all linear;
    transform: translateZ(0);
}

.arrow-button:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 20px;
    height: 20px;
    margin: auto;

    content: '';

    background: url('img/icons/arrow-white.svg') 100% 50% no-repeat;
}

.arrow-button:hover,
.arrow-button:focus
{
    opacity: .8;
    outline: none;
}

.arrow-button:active
{
    opacity: 1;

    transition-duration: .05s;
}

.arrow-button:disabled
{
    cursor: default;

    opacity: .15;
}

.arrow-button.arrow-button_white
{
    width: 64px;
    height: 64px;

    opacity: 1;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.arrow-button_white:hover,
.arrow-button_white:focus
{
    background-color: rgba(255, 255, 255, .35);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.arrow-button_white:active
{
    background-color: rgba(255, 255, 255, .5);
}

.arrow-button_white:before
{
    width: 15px;
}

.arrow-button_brown
{
    color: #ae8159;
}

.arrow-button_brown:before
{
    background-image: url('img/icons/arrow-brown.svg');
}

.arrow-button_grey
{
    color: rgba(110, 110, 109, .6);
}

.arrow-button_grey:before
{
    background-image: url('img/icons/arrow-grey.svg');
}

.arrow-button_prev:before
{
    transform: scaleX(-1);
}

.arrow-button__text
{
    position: absolute;
    top: 12px;

    padding: 0 10px;

    text-transform: uppercase;

    font: 10px IntroCaps, sans-serif;
}

.arrow-button_next .arrow-button__text
{
    left: 50px;

    text-align: left;
}

.arrow-button_prev .arrow-button__text
{
    right: 50px;

    text-align: right;
}
