.button
{
    position: relative;

    display: inline-block;

    padding: 0 65px 0 0;

    cursor: pointer;
    user-select: none;
    text-decoration: none;

    line-height: 65px;

    color: rgba(255, 255, 255, .9);
    border: none;
    outline: none;
    background: #bd8f65;

    transition: .15s box-shadow linear;
}

.button_big
{
    padding: 0 72px 0 0;

    line-height: 72px;
}

.button_reverse
{
    padding: 0 0 0 65px;
}

.button__text
{
    display: inline-block;

    width: 100%;
    padding: 0 40px;

    text-align: center;
    letter-spacing: .2px;

    font: 14px IntroCaps, sans-serif;
}

.button_big .button__text
{
    padding: 0 60px;
}

.button__icon
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 65px;

    border-left: 1px solid rgba(255, 255, 255, .3);
}

.button_big .button__icon
{
    width: 72px;
}

.button_reverse .button__icon
{
    right: auto;
    left: 0;

    border: none;
}

.button__icon:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 28px;
    height: 18px;
    margin: auto;

    content: '';

    background: url(img/icons/arrow-white.svg) 50% 50% / 18px auto no-repeat;

    transition: .15s background-position linear;
}

.page_hoverable .button:hover .button__icon:before,
.page_hoverable .button:focus .button__icon:before
{
    background-position: 75% 50%;
}

.button_reverse .button__icon:before
{
    transform: scaleX(-1);
}

.page_hoverable .button_shadow:hover,
.page_hoverable .button_shadow:focus
{
    box-shadow: 0 10px 20px 0 rgba(174, 129, 89, .4);
}

.button_shadow.button_big
{
    box-shadow: 10px 15px 44px 0 rgba(174, 129, 89, .5);
}

.page_hoverable .button_shadow.button_big:hover,
.page_hoverable .button_shadow.button_big:focus
{
    box-shadow: 10px 16px 44px 0 rgba(174, 129, 89, .7);
}

.page_hoverable .button_shadow.button_big:active
{
    box-shadow: 10px 16px 44px 0 rgba(174, 129, 89, .8);
}

@media (max-width: 1024px)
{
    .button
    {
        padding: 0 70px 0 0;

        line-height: 50px;
    }

    .button_reverse
    {
        padding: 0 0 0 45px;
    }

    .button__text
    {
        font-size: 12px;
    }
}

@media (max-width: 767px)
{
    .button
    {
        line-height: 48px;
    }

    .button__text
    {
        padding: 0 20px;

        font-size: 11px;
    }
}
