.collections
{
    background: #eeede9 url(img/decoration/common/pattern.svg) 0 / 300px auto;
}

.collections__wrapper
{
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.collections__content
{
    position: relative;
    z-index: 0;

    width: 660px;
    margin: -15vmin 0 0;
    padding: 80px 50px 100px;

    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .07);
}

.collections__content:before
{
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;

    display: block;

    content: '';

    border: 1px solid #ae8159;
}

.collections__text
{
    margin: 0;

    text-align: center;

    font: bold 42px / .95 PFRegal, serif;
}

.collections__text_mobile,
.collections__image_top
{
    display: none;
}

.collections__button
{
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;

    text-align: center;
}

.collections__image
{
    position: absolute;
    top: -50px;

    width: 120px;
}

.collections__image_left
{
    left: -48px;
}

.collections__image_right
{
    right: -48px;
}

@media (max-width: 1024px)
{
    .collections__content
    {
        width: 600px;
        padding: 60px 40px 100px;
    }

    .collections__content:before
    {
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }

    .collections__text
    {
        font-size: 38px;
        line-height: 36px;
    }

    .collections__image
    {
        width: 108px;
    }
}

@media (min-width: 767px)
{
    .collections__button .button
    {
        height: 65px;

        line-height: 65px;
    }
}

@media (max-width: 767px)
{
    .collections
    {
        display: block;
    }

    .collections__wrapper
    {
        padding: 0 20px;
    }

    .collections__content
    {
        width: auto;
        margin: 0;
        padding: 60px 30px;
    }

    .collections__text
    {
        font-size: 22px;
        line-height: 22px;
    }

    .collections__text_mobile
    {
        display: block;
    }

    .collections__text_desktop,
    .collections__image_left,
    .collections__image_right
    {
        display: none;
    }

    .collections__image_top
    {
        top: -75px;
        right: 0;
        left: 0;

        display: inline-block;

        width: 60px;
        margin: 0 auto;
    }

    .collections__button
    {
        bottom: -15px;
    }

    .collections__button .button
    {
        width: 220px;
        margin: 0 auto;
        padding: 0 35px 0 0;
    }

    .collections__button .button__text
    {
        padding: 0;
    }

    .collections__button .button__icon
    {
        width: 45px;
    }

    .page .collections .footer
    {
        top: 100%;
        bottom: auto;
    }
}

.collections__image,
.collections__button,
.collections__text
{
    transition: transform 1s;
    transform: translateZ(0);
}

.collections__text
{
    transform: translateY(30%);
}

.collections__button
{
    transform: translateY(20%);
}

.collections__image
{
    transform: translateY(10%);
}

.collections__image_top
{
    transform: translateY(10%) rotate(90deg);
}

.page_slide_collections .collections__text,
.page_slide_collections .collections__image,
.page_slide_collections .collections__button
{
    transition: transform .6s .6s cubic-bezier(.02, .01, .47, 1);
    transform: none;
}
.page_slide_collections .collections__image_top
{
    transform: rotate(90deg);
}

@media (min-width: 1600px)
{
    .collections__content
    {
        transform: scale(1.2);
    }
}
