.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;

    font: 10px Intro-Caps, sans-serif;

    color: rgba(255, 255, 255, .35);
    background: #3a3a3a;
}

.footer a
{
    text-decoration: none;

    color: inherit;
}

.footer__content
{
    position: relative;

    max-width: 1440px;
    height: 105px;
    margin: 0 auto;
    padding: 0 75px;

    line-height: 105px;
}

.footer .social
{
    float: left;
}

.footer__legal
{
    float: right;
}

.footer__logo
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 238px;
    height: 60px; /* fixme after image */
    margin: auto;
}

.footer__copyright
{
    clear: both;

    padding: 16px 0;

    background: #303030;
}
