.footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;

    font: 10px Intro-Caps, sans-serif;

    color: #fff;
    background: #3a3a3a;
}

.page_story .footer
{
    position: relative;
}

.footer a,
.footer a:visited
{
    text-decoration: none;

    opacity: .35;
    color: inherit;

    transition: .15s opacity linear;
}

.footer a:hover,
.footer a:focus
{
    opacity: .7;
    outline: none;
}

.footer a:active
{
    opacity: 1;

    transition: .05s opacity linear;
}

.footer__content
{
    position: relative;

    max-width: 1440px;
    height: 105px;
    margin: 0 auto;
    padding: 0 75px;

    line-height: 105px;
}

.footer .social
{
    float: left;
}

.footer__legal
{
    float: right;
}

.footer__logo
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 238px;
    margin: auto;
}

.footer__copyright
{
    clear: both;

    padding: 16px 0;

    opacity: .35;
    background: #303030;
}
