.gallery
{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: -9999px;

    visibility: hidden;

    width: 100%;
    height: 100%;

    font: 14px IntroCaps, sans-serif;

    opacity: 0;
    color: #6e6e6d;
    background: #f5f4f2;

    transition: opacity .5s linear, visibility 0s .5s linear, left 0s .5s linear;
    transform: translateZ(0);
}

.page_gallery .gallery
{
    left: 0;

    visibility: visible;

    opacity: 1;

    transition: opacity .5s linear;
}

.gallery__wrapper
{
    position: relative;

    width: 100%;
    height: 100%;
}

.gallery__count
{
    position: absolute;
    z-index: -1;
    top: 55px;
    right: 0;
    left: 0;

    user-select: none;
    text-align: center;
}

.gallery__count-current
{
    margin: 0 10px 0 0;

    font-size: 28px;

    color: #ae8159;
}

.gallery__count-total
{
    margin: 0 0 0 10px;

    text-transform: uppercase;

    font-size: 18px;
}

.gallery__info
{
    position: absolute;
    top: 35px;
    left: 35px;
}

.gallery__year:after
{
    display: inline-block;

    margin: 0 8px;

    content: '•';
}

.gallery__list
{
    position: absolute;
    top: 0;
    right: 120px;
    bottom: 0;
    left: 120px;

    overflow: hidden;

    padding: 110px 0 0;

    text-align: center;
    white-space: nowrap;
}

.gallery__list:before
{
    width: 50%;
    height: 100%;

    content: '';
}

.gallery__list:before,
.gallery__item
{
    position: relative;

    display: inline-block;

    vertical-align: middle;
}

.gallery__item
{
    width: 33.33%;
    margin: 0;

    cursor: pointer;
    white-space: normal;

    transform: translateZ(0);
}

.gallery__item.gallery__item_current
{
    opacity: 1;

    transition-duration: .5s;
    transform: scale(1);
}

.gallery__item-info
{
    right: 0;
    left: 0;

    visibility: hidden;

    padding: 25px 0;

    opacity: 0;

    transition: visibility 0s .5s linear, opacity .5s linear;
}

.gallery__item_current .gallery__item-info
{
    visibility: visible;

    opacity: 1;

    transition: opacity .5s linear;
}

.gallery__item-image
{
    max-width: 100%;
}

.gallery__item-title
{
    margin: 0 0 5px;

    text-transform: uppercase;

    font-size: 18px;
}

.gallery__item-text
{
    font: italic 16px / 1.13 Lazurski, serif;
}

.round-button.gallery__close
{
    position: absolute;
    top: 17px;
    right: 22px;

    color: #6e6e6d;
    background: rgba(233, 232, 227, .65);
}

.gallery .arrow-button
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto 0;
}

.gallery .arrow-button_next
{
    right: 40px;
}

.gallery .arrow-button_prev
{
    left: 40px;
}

@media (min-width: 1025px)
{
    .gallery__item:last-child
    {
        margin: 0 50% 0 0;
    }

    .gallery__item-image
    {
        opacity: .5;

        transition: opacity .5s ease-in-out, transform .5s ease-in-out;
        transform: scale(.5);
    }

    .gallery__item:hover .gallery__item-image
    {
        opacity: .6;

        transition-duration: .2s;
        transform: scale(.6);
    }

    .gallery__item.gallery__item_current .gallery__item-image
    {
        opacity: 1;

        transition: all .5s ease-in-out;
        transform: scale(1);
    }

    .gallery__item-info
    {
        right: -50%;
        left: -50%;
    }
}

@media (max-width: 1024px)
{
    .gallery__count
    {
        top: 70px;
    }

    .gallery__list
    {
        right: 0;
        left: 0;

        padding: 120px 0 0;
    }

    .gallery__item
    {
        width: 100%;
        padding: 0 100px;
    }

    .gallery .arrow-button_next
    {
        right: 30px;
    }

    .gallery .arrow-button_prev
    {
        left: 30px;
    }
}

@media (max-width: 767px)
{
    .gallery__count
    {
        top: auto;
        bottom: 30px;

        font-size: 14px;
    }

    .gallery__count-current
    {
        font-size: 28px;
    }

    .gallery__count-total
    {
        font-size: 18px;
    }

    .gallery__info
    {
        top: 20px;
        left: 20px;

        padding: 0 80px 0 0;
    }

    .gallery__list
    {
        padding: 80px 0 60px;
    }

    .gallery__item
    {
        padding: 0 20px;
    }

    .gallery__item-info
    {
        padding: 15px 0;
    }

    .gallery__item-title
    {
        font-size: 14px;
    }

    .gallery__item-text
    {
        font-size: 13px;
    }

    .round-button.gallery__close
    {
        top: 15px;
        right: 15px;
    }

    .gallery .arrow-button
    {
        top: auto;
        bottom: 22px;

        transform: scale(.72);
    }
}
