.header
{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    padding: 40px;

    text-align: center;

    color: #fff;

    transition: color .8s ease-in;
}

.page_index .header
{
    position: fixed;
}

.page_type_dark .header
{
    color: #6e6e6d;
}

.header__logo
{
    position: absolute;
    top: 40px;
    left: 40px;

    width: 285px;
    height: 72px;
}

.header__logo-link
{
    color: inherit;

    transition: .15s opacity linear;
}

.page_hoverable .header__logo-link
{
    opacity: .8;
}

.page_hoverable.page_type_dark .header__logo-link
{
    opacity: .65;
}

.page.page_logo_no .header__logo-link
{
    pointer-events: none;

    opacity: 0;
}

.page_hoverable .header .header__logo-link:hover,
.page_hoverable .header .header__logo-link:focus
{
    opacity: 1;
}

.header__logo_tablet,
.header__logo_mobile
{
    display: none;
}

@media (min-width: 768px) and (max-width: 1279px)
{
    .header
    {
        padding: 30px;
    }

    .header__logo
    {
        display: none;
    }

    .header__logo_tablet
    {
        position: absolute;
        top: 30px;
        left: 40px;

        display: block;

        width: 65px;
        height: 65px;

        opacity: .8;

        transition: .15s opacity linear;
    }
}

@media (max-width: 767px)
{
    .header__logo_mobile,
    .header__burger,
    .header__close
    {
        display: block;
    }

    .header__logo
    {
        display: none;
    }

    .header__logo_mobile
    {
        position: absolute;
        top: 30px;
        right: 0;
        left: 0;

        width: 150px;
        height: 30px;
        margin: 0 auto;
    }
}
