.header
{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    padding: 40px;

    text-align: center;

    color: #fff;

    transition: color .3s ease-in;
}

.page_index .header
{
    position: fixed;
}

.page_type_dark .header
{
    color: #6e6e6d;
}

.header__logo
{
    position: absolute;
    top: 40px;
    left: 40px;

    width: 285px;
    height: 72px;
}

.header__logo-link
{
    opacity: .8;
    color: inherit;

    transition: .15s opacity linear;
}

.page_type_dark .header__logo-link
{
    opacity: .65;
}

.page_logo_no .header__logo-link
{
    pointer-events: none;

    opacity: 0;
}

.page_hoverable .header .header__logo-link:hover,
.page_hoverable .header .header__logo-link:focus
{
    opacity: 1;
}

.header__logo_tablet,
.header__logo_mobile,
.header__burger,
.header__close
{
    display: none;
}

.header__burger,
.header__close
{
    position: absolute;
    z-index: 10000;
    top: 15px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    transform: translateZ(0);
}

.header__burger
{
    left: 15px;

    color: #fff;
    background: rgba(255, 255, 255, .15);

    transition: all .75s ease-in;
}

.page_type_dark .header__burger
{
    color: rgba(110, 110, 109, .7);
    background: rgba(233, 232, 227, .9);
}

.header__close
{
    right: 15px;

    color: rgba(255, 255, 255, .25);
    background: rgba(233, 232, 227, .08);
}

.header__burger:focus,
.header__close:focus
{
    outline: none;
}

.header__burger-icon,
.header__close-icon
{
    margin: 0 auto;
}

.header__burger-icon,
.header__burger-icon:before,
.header__burger-icon:after,
.header__close-icon:before,
.header__close-icon:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 17px;
    height: 0;
    margin: auto;

    content: '';

    border-top: 1px solid;
}

.header__burger-icon:before
{
    top: 10px;
}

.header__burger-icon:after
{
    bottom: 11px;
}

.header__close-icon:before
{
    transform: rotate(45deg);
}

.header__close-icon:after
{
    transform: rotate(-45deg);
}

@media (min-width: 768px) and (max-width: 1279px)
{
    .header
    {
        padding: 30px;
    }

    .header__logo
    {
        display: none;
    }

    .header__logo_tablet
    {
        position: absolute;
        top: 30px;
        left: 40px;

        display: block;

        width: 65px;
        height: 65px;

        opacity: .8;

        transition: .15s opacity linear;
    }
}

@media (max-width: 767px)
{
    .header__logo_mobile,
    .header__burger,
    .header__close
    {
        display: block;
    }

    .header__logo
    {
        display: none;
    }

    .header__logo_mobile
    {
        position: absolute;
        top: 30px;
        right: 0;
        left: 0;

        width: 150px;
        height: 30px;
        margin: 0 auto;
    }
}
