.history
{
    position: relative;
}

.horizontal-slide.history__slide
{
    display: inline-flex;

    background: #f7f6f5;

    justify-content: center;
    align-items: center;
}

.horizontal-slide.history__slide_dark
{
    background: #303030;
}

.history__title
{
    margin: 50px 0 7px;

    font: 32px IntroCaps, sans-serif;

    color: #ae8159;
}

.history__text
{
    position: relative;

    overflow-y: auto;

    width: 485px;
    height: 270px;
    margin: 0 60px 0 0;
    padding: 0 20px 0 0;

    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, .55);
}

.history__slide_dark .history__text
{
    color: rgba(255, 255, 255, .7);
}

.history__image-wrapper
{
    position: relative;

    width: 485px;
    height: 365px;
}

.history__image-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    text-align: center;

    border-radius: 60px 0;
}

.history__image-container_no-border
{
    border-radius: 0;
}

.history__gallery
{
    position: absolute;
    top: 0;
    right: 20px;

    margin: -25px 0;
}

.history__slide_dark .radius-button
{
    background-color: rgba(255, 255, 255, .2);
}

.history .arrow-button
{
    position: absolute;
    bottom: 130px;
}

.history .arrow-button_prev
{
    left: 120px;
}

.history .arrow-button_next
{
    right: 40px;
}

@media (max-width: 1024px)
{
    .history__content
    {
        margin: -80px 0 0;
    }

    .history__title
    {
        margin: 0 0 7px;

        font-size: 28px;
    }

    .history__text
    {
        width: 380px;
        margin: 0 23px 0 0;
    }

    .history__image-wrapper
    {
        width: 387px;
        height: 291px;
    }

    .history__image
    {
        height: 100%;
    }

    .history .arrow-button_prev
    {
        left: 40px;
    }

    .history .arrow-button_next
    {
        right: 30px;
    }
}

@media (max-width: 767px)
{
    .history__slide
    {
        display: flex;
        flex-direction: column;

        padding: 0 20px;
    }

    .history__content
    {
        margin: 25px 0 0;

        order: 2;
    }

    .history__image-wrapper
    {
        width: 250px;
        height: 188px;

        order: 1;
    }

    .history__title
    {
        font-size: 16px;
        line-height: 18px;
    }

    .history__text
    {
        width: auto;
        max-height: 150px;
        margin: 0;
        padding: 0;

        font-size: 15px;
        line-height: 17px;
    }

    .history .arrow-button
    {
        width: 45px;
        height: 45px;
    }

    .history .arrow-button_prev
    {
        display: none;
    }

    .history .arrow-button_next
    {
        right: 10px;
        bottom: 65px;

        opacity: 1;
        background-color: #f5f4f2;
    }

    .history .timeline__text
    {
        display: none;
    }
}
