.history
{
    position: relative;
}

.horizontal-slide.history__slide
{
    position: relative;

    padding: 0 180px 0 60px;

    background: #f7f6f5;
}

.horizontal-slide.history__slide_dark
{
    background: #303030;
}

.horizontal-slide.history__slide:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background: inherit;

    transition: transform 1s .1s cubic-bezier(.02, .01, .47, 1);
    transform: translate3d(-130px, 0, 0);
}

.page .horizontal-slide_current.history__slide:before
{
    transform: none;
}

.history__content-wrapper
{
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.history__content
{
    position: relative;

    width: calc(50% - 60px);
    max-width: 500px;
    margin: 0 60px 0 0;
}

.history__slide:after,
.history__content:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    height: 40px;

    content: '';
    pointer-events: none;

    background: linear-gradient(to bottom, rgba(247,246,245,0) 25%,rgba(247,246,245,1) 100%);

    transform: translateZ(0);
}

.history__slide:after
{
    display: none;

    height: 55px;

    background: linear-gradient(to bottom, rgba(247,246,245,0) 0%,rgba(247,246,245,1) 50%);
}

.history__slide_dark .history__content:after
{
    background: linear-gradient(to bottom, rgba(48,48,48,0) 25%,rgba(48,48,48,1) 100%);
}

.history__slide_dark:after
{
    background: linear-gradient(to bottom, rgba(48,48,48,0) 0%,rgba(48,48,48,1) 50%);
}

.history__title
{
    margin: 0 0 7px;

    font: 32px IntroCaps, sans-serif;

    color: #ae8159;
}

.history__text
{
    position: relative;

    height: 300px;
    padding: 0 20px 0 0;

    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, .55);
}

.history__slide_dark .history__text
{
    color: rgba(255, 255, 255, .7);
}

.history__image-wrapper
{
    position: relative;

    width: 50%;
    max-width: 485px;
    height: 365px;
}

.history__image-container
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    text-align: center;

    border-radius: 60px 0;
}

.history__image-container_no-border
{
    border-radius: 0;
}

.history__image
{
    max-width: 100%;
    max-height: 100%;
}

.history__slide_dark .radius-button
{
    background-color: rgba(255, 255, 255, .2);
}

.history .arrow-button
{
    position: absolute;
    bottom: 130px;
}

.history .arrow-button_prev
{
    left: 105px;
}

.history .arrow-button_next
{
    right: 40px;
}

@media (max-width: 1280px)
{
    .history__title
    {
        font-size: 28px;
    }

    .history__text
    {
        height: 300px;
    }

    .history__image-wrapper
    {
        width: 387px;
        height: 291px;
    }

    .history__image
    {
        height: 100%;
    }
}

@media (max-width: 1024px)
{
    .horizontal-slide.history__slide
    {
        padding: 0 110px 0 50px;
    }

    .horizontal-slide.history__slide:before
    {
        transform: translateX(-100px);
    }

    .history__content
    {
        width: calc(50% - 30px);
        margin: 0 30px 0 0;
    }

    .history .arrow-button_prev
    {
        left: 45px;
    }

    .history .arrow-button_next
    {
        right: 25px;
    }
}

@media (max-width: 950px)
{
    .history__content-wrapper
    {
        flex-direction: column;

        align-items: flex-start;
    }

    .history__content
    {
        width: 100%;

        order: 2;
    }

    .history__text
    {
        height: 30vh;
    }

    .history__image-wrapper
    {
        width: 300px;
        height: 230px;
        margin: 0 0 30px;

        order: 1;
    }
}

@media (max-width: 767px)
{
    .horizontal-slide.history__slide
    {
        padding: 0 30px 0 20px;
    }

    .horizontal-slide.history__slide:after
    {
        display: block;
    }

    .history__content-wrapper
    {
        overflow: hidden;

        padding: 60px 0 0;

        justify-content: flex-start;
    }

    .horizontal-slide.history__slide:last-child
    {
        padding-right: 0;
    }

    .horizontal-slide.history__slide:before
    {
        transform: translateX(-30px);
    }

    .history__image-wrapper
    {
        width: 250px;
        height: 190px;
        margin: 15px 0;
    }

    .history__title
    {
        font-size: 16px;
        line-height: 18px;
    }

    .history__text
    {
        height: auto;

        font-size: 13px;
        line-height: 15px;
    }

    .history__text:after
    {
        display: block;

        height: 40px;

        content: '';
    }

    .history__content:after
    {
        display: none;
    }

    .history .arrow-button
    {
        width: 44px;
        height: 44px;

        transition: background .5s linear;
    }

    .history .arrow-button_next
    {
        right: 8px;
        bottom: 60px;

        opacity: 1;
        background: #f5f4f2;
    }

    .horizontal-slider_type_dark .arrow-button_next
    {
        background: #363636;
    }

    .history .arrow-button_prev,
    .history .timeline__text
    {
        display: none;
    }
}

@media (min-width: 1600px)
{
    .horizontal-slide.history__slide
    {
        padding-left: 130px;
    }

    .history__content
    {
        margin-right: 80px;

        transform: translateZ(0) scale(1.2);
        transform-origin: 100% 50%;
    }

    .history__image-wrapper
    {
        transform: translateZ(0) scale(1.25);
        transform-origin: 0 50%;
    }
}
