.horizontal-slider
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.horizontal-slider__list-wrapper
{
    overflow: inherit;

    width: 100%;
    height: 100%;
}

.horizontal-slider__list
{
    height: 100%;

    white-space: nowrap;
}

.horizontal-slide
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;

    vertical-align: top;
    white-space: normal;

    transform: translateZ(0);
}
