.loading
{
    display: flex;

    width: 100%;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 237);
}

.loading__content
{
    max-width: 690px;
    text-align: center;
    color: #6e6e6d;
}

.loading__image
{
    width: 106px;
    height: 136px;
    background-color: #666;
    display: inline-block;
    font-size: 0;
    margin-bottom: 8px;
    border-radius: 50%;
}

.loading__title
{
    font-family: 'PFRegal', serif;
    font-size: 64px;
    line-height: 58px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 28px;
}

.loading__text
{
    font-family: 'LazurskiC', serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 47px;
}
