.menu
{
    position: fixed;
    z-index: 10001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    padding-top: 110px;

    color: #fff;
    background: #363636 url(img/decoration/common/pattern_dark.svg) 100% 100% / 300px auto;

    transition: .3s transform ease-in-out;
    transform: translateX(-100%);
}

.page_menu .menu
{
    transform: none;
}

.menu__logo-link,
.menu__link
{
    display: inline-block;

    color: inherit;
}

.menu__logo
{
    width: 110px;
    height: 110px;
    margin: 0 0 35px;
}

.menu__link
{
    padding: 10px;

    text-decoration: none;
    letter-spacing: .8px;
    text-transform: uppercase;

    font: 15px IntroCaps, sans-serif;
}

.menu__link:focus
{
    outline: none;
}

.menu__close
{
    position: absolute;
    top: 15px;
    right: 15px;
}

.menu__burger
{
    position: absolute;
    z-index: 10000;
    top: 15px;
    left: 15px;

    display: none;
}

.page_type_dark .menu__burger
{
    color: rgba(110, 110, 109, .7);
    background: rgba(233, 232, 227, .9);
}

@media (max-width: 767px)
{
    .menu,
    .menu__burger
    {
        display: block;
    }
}
