.nav__link
{
    display: inline-block;

    padding: 25px;

    text-decoration: none;
    letter-spacing: .3px;
    text-transform: uppercase;

    font: 13px 'IntroCaps', sans-serif;

    opacity: .5;
    color: #fff;
    outline: none;

    transition: .15s opacity linear;
}

.nav__link:hover,
.nav__link:focus
{
    opacity: .7;
}

.nav__link
{
    color: inherit;
}

.nav__link_active
{
    opacity: .7;
}
