.page__svg-storage
{
    display: none;
}

.page_menu-opened
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.page_unselectable
{
    user-select: none;
}

.page_transition_no main *
{
    transition: none !important;
}

.page:not(.page_hoverable) a:focus,
.page:not(.page_hoverable) button:focus
{
    outline: none;
}
