.philosophy .arrow-button
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto;
}

.philosophy .arrow-button_prev
{
    left: 20px;
}

.philosophy .arrow-button_next
{
    right: 20px;
}

.philosophy__slide
{
    background: center / cover no-repeat;
}

.philosophy__slide:nth-child(1),
.philosophy__slide:last-child
{
    background-image: url('img/decoration/philosophy/bg_perfect.jpg');
}

.philosophy__slide:nth-child(2)
{
    background-image: url('img/decoration/philosophy/bg_master.jpg');
}

.philosophy__slide:nth-child(3)
{
    background-image: url('img/decoration/philosophy/bg_unique.jpg');
}

.philosophy__slide:nth-child(4)
{
    background-image: url('img/decoration/philosophy/bg_king.jpg');
}

.philosophy__content
{
    position: absolute;
    top: 30vh;
    left: 100px;

    width: 620px;
    padding: 30px 30px 45px 45px;

    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.philosophy__content:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 350px;
    height: 5px;

    content: '';

    background-color: #bd8f65;
}

.philosophy__label
{
    margin: 0 0 0 25px;

    letter-spacing: .4px;
    text-transform: uppercase;

    font: 13px IntroCaps, sans-serif;

    opacity: .5;
}

.philosophy__quote
{
    margin: 20px 0 40px;

    font: bold 48px / .8 PFRegal, serif;
}

.philosophy__link
{
    width: 320px;
}

.philosophy__image
{
    position: absolute;
}

.philosophy__slide:nth-child(1) .philosophy__image,
.philosophy__slide:last-child .philosophy__image
{
    right: 10px;
    bottom: -50px;

    width: 190px;
    height: 210px;
}

.philosophy__slide:nth-child(2) .philosophy__image
{
    right: 10px;
    bottom: -45px;

    width: 200px;
    height: 175px;
}

.philosophy__slide:nth-child(3) .philosophy__image
{
    right: 5px;
    bottom: -50px;

    width: 173px;
    height: 206px;
}

.philosophy__slide:nth-child(4) .philosophy__image
{
    right: 30px;
    bottom: -45px;

    width: 155px;
    height: 186px;
}

@media (max-width: 1024px)
{
    .philosophy__content
    {
        top: 35vh;

        width: 460px;
        padding: 20px 28px 35px 28px;
    }

    .philosophy__content:after
    {
        width: 270px;
    }

    .philosophy__label
    {
        margin-left: 20px;

        font-size: 12px;
    }

    .philosophy__quote
    {
        margin: 10px 0 35px;

        font-size: 37px;
        line-height: .9;
    }

    .philosophy__link
    {
        width: 275px;
    }

    .philosophy__image
    {
        transform: scale(.7);
    }

    .philosophy__slide:nth-child(1) .philosophy__image,
    .philosophy__slide:last-child .philosophy__image
    {
        right: -55px;
        bottom: -75px;

        width: 220px;
        height: 240px;
    }

    .philosophy__slide:nth-child(2) .philosophy__image
    {
        right: -55px;
        bottom: -60px;

        width: 230px;
        height: 205px;
    }

    .philosophy__slide:nth-child(3) .philosophy__image
    {
        right: -55px;
        bottom: -80px;

        width: 203px;
        height: 236px;
    }

    .philosophy__slide:nth-child(4) .philosophy__image
    {
        right: -30px;
        bottom: -65px;

        width: 185px;
        height: 216px;
    }
}

@media (max-width: 767px)
{
    .philosophy__slide
    {
        background-position: 70% 50%;
    }

    .philosophy .arrow-button
    {
        display: none;
    }

    .philosophy__label
    {
        margin: auto;

        font-size: 11px;
    }

    .philosophy__quote
    {
        margin: 10px 0 25px;

        font-size: 21px;
        line-height: 21px;
    }

    .philosophy__content
    {
        position: relative;
        top: 320px;
        left: auto;

        width: auto;
        margin-right: 25px;
        margin-left: 25px;
        padding: 20px 15px;
    }

    .philosophy__content:after
    {
        width: 75%;
        height: 3px;
    }

    .philosophy__image
    {
        display: none;
    }

    .philosophy__link
    {
        display: block;

        width: 240px;
        margin: 0 auto;
    }

    .philosophy__link .button__text
    {
        padding: 0 15px;
    }

    .philosophy__link .button__icon
    {
        width: 45px;
    }
}
