.philosophy .arrow-button
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto;
}

.philosophy .arrow-button_prev
{
    left: 20px;
}

.philosophy .arrow-button_next
{
    right: 20px;
}

.philosophy__slide
{
    position: relative;
    z-index: 0;
}

.philosophy__background_desktop,
.philosophy__background_mobile
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: center / cover no-repeat;

    transform: translateZ(0);
}

.philosophy__content
{
    position: absolute;
    z-index: 0;
    top: 27vh;
    left: 100px;

    width: 620px;
    padding: 30px 30px 45px 45px;

    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.philosophy__content:after
{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 5px;

    content: '';

    background-color: #bd8f65;

    transition: transform 0s 1s;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.page_transition_no .philosophy__slide .philosophy__content
{
    opacity: 0;
}

.philosophy_timer .horizontal-slide_current .philosophy__content:after,
.philosophy_timer .philosophy__content_current:after
{
    transition: transform 8s linear;
    transform: scaleX(1);
}

.philosophy__label
{
    margin: 0 0 0 25px;

    letter-spacing: .4px;
    text-transform: uppercase;

    font: 13px IntroCaps, sans-serif;

    opacity: .5;
}

.philosophy__quote
{
    margin: 20px 0 40px;

    font: bold 48px / .87 PFRegal, serif;
}

.philosophy__link
{
    display: inline-block;
}

.philosophy__link .button
{
    width: 100%;
    padding: 0 10px 0 0;
}

.philosophy__image
{
    position: absolute;
}

.philosophy__slide:nth-child(1) .philosophy__image,
.philosophy__slide:last-child .philosophy__image
{
    right: 10px;
    bottom: -50px;

    width: 190px;
    height: 210px;
}

.philosophy__slide:nth-child(2) .philosophy__image
{
    right: 10px;
    bottom: -45px;

    width: 200px;
    height: 175px;
}

.philosophy__slide:nth-child(3) .philosophy__image
{
    right: 5px;
    bottom: -50px;

    width: 173px;
    height: 206px;
}

.philosophy__slide:nth-child(4) .philosophy__image
{
    right: 30px;
    bottom: -45px;

    width: 155px;
    height: 186px;
}

.philosophy-mobile
{
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;

    display: none;
}

@media (min-width: 1025px)
{
    .philosophy__link
    {
        width: 320px;
    }
}

@media (max-width: 1024px)
{
    .philosophy__slide
    {
        background-position: 55% 50%;
    }

    .philosophy__content
    {
        top: 35vh;

        width: 460px;
        padding: 20px 28px 35px 28px;
    }

    .philosophy__label
    {
        margin-left: 20px;

        font-size: 12px;
    }

    .philosophy__quote
    {
        margin: 10px 0 35px;

        font-size: 37px;
        line-height: .9;
    }

    .philosophy__link
    {
        width: 275px;
    }

    .philosophy__slide:nth-child(1) .philosophy__image,
    .philosophy__slide:last-child .philosophy__image
    {
        right: 0;

        width: 154px;
        height: 168px;
    }

    .philosophy__slide:nth-child(2) .philosophy__image
    {
        right: -10px;

        width: 161px;
        height: 143px;
    }

    .philosophy__slide:nth-child(3) .philosophy__image
    {
        width: 142px;
        height: 165px;
    }

    .philosophy__slide:nth-child(4) .philosophy__image
    {
        right: 5px;

        width: 130px;
        height: 151px;
    }
}

@media (max-width: 767px)
{
    .philosophy__background_desktop
    {
        display: none;
    }

    .philosophy__content
    {
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;

        width: 270px;
        margin: auto;
        padding: 15px;

        opacity: 0;
        background: #fff;
    }

    .philosophy-mobile_transition_no .philosophy__content
    {
        transition: none;
    }

    .philosophy__content_current
    {
        z-index: 1;

        opacity: 1;

        transition: transform 1s, opacity .5s;
    }

    .philosophy__content_prev,
    .philosophy__content_next
    {
        opacity: .75;

        transition: transform 1s, opacity .5s .5s;
    }

    .philosophy__content_prev
    {
        transform: scale(.9) translateX(-25px);
    }

    .philosophy__content_next
    {
        transform: scale(.9) translateX(25px);
    }

    .philosophy__slide .philosophy__content
    {
        display: none;
    }

    .philosophy__content:after
    {
        height: 3px;
    }

    .philosophy__label
    {
        margin: auto;

        font-size: 11px;
    }

    .philosophy__quote
    {
        margin: 6px 0 18px;

        font-size: 21px;
        line-height: 21px;
    }

    .philosophy__image
    {
        display: none;
    }

    .philosophy__link
    {
        display: block;

        width: 100%;
    }

    .philosophy__link .button__text
    {
        padding: 0 15px;
    }

    .philosophy__link .button__icon
    {
        width: 45px;
    }

    .philosophy .arrow-button
    {
        display: none;
    }

    .philosophy-mobile
    {
        display: block;
    }
}

@media (min-width: 768px)
{
    .philosophy__background_mobile
    {
        display: none;
    }

    .horizontal-slide_current .philosophy__content,
    .horizontal-slide_current .philosophy__label,
    .horizontal-slide_current .philosophy__quote,
    .horizontal-slide_current .philosophy__link,
    .horizontal-slide_current .philosophy__image
    {
        transition-delay: .6s;
        transition-timing-function: cubic-bezier(.445, .05, .55, .95);
        transition-property: transform;
    }

    .philosophy__content
    {
        transition-duration: .5s;
    }

    .horizontal-slide:not(.horizontal-slide_current) .philosophy__content
    {
        transform: translateX(-30px);
    }

    .horizontal-slide_current + .horizontal-slide .philosophy__content
    {
        transform: translateX(30px);
    }

    .philosophy__label
    {
        transition-duration: .5s;
    }

    .horizontal-slide:not(.horizontal-slide_current) .philosophy__label
    {
        transform: translateX(-50px);
    }

    .horizontal-slide_current + .horizontal-slide .philosophy__label
    {
        transform: translateX(50px);
    }

    .philosophy__quote,
    .philosophy__link
    {
        transition-duration: .6s;
    }

    .horizontal-slide:not(.horizontal-slide_current) .philosophy__quote,
    .horizontal-slide:not(.horizontal-slide_current) .philosophy__link
    {
        transform: translateX(-75px);
    }

    .horizontal-slide_current + .horizontal-slide .philosophy__quote,
    .horizontal-slide_current + .horizontal-slide .philosophy__link
    {
        transform: translateX(75px);
    }

    .philosophy__image
    {
        transition-duration: .7s;
    }

    .horizontal-slide:not(.horizontal-slide_current) .philosophy__image
    {
        transform: translateX(-100px);
    }

    .horizontal-slide_current + .horizontal-slide .philosophy__image
    {
        transform: translateX(100px);
    }
}

@media (min-width: 1600px)
{
    .philosophy .arrow-button_prev
    {
        left: 40px;
    }

    .philosophy .arrow-button_next
    {
        right: 40px;
    }

    .philosophy__content
    {
        left: 170px;

        transform: scale(1.1) !important;
        transform-origin: 50% 0;
    }
}

@media (min-width: 1920px)
{
    .philosophy .arrow-button_prev
    {
        left: 60px;
    }

    .philosophy .arrow-button_next
    {
        right: 60px;
    }

    .philosophy__content
    {
        top: 30vh;
        left: 250px;

        transform: scale(1.2) !important;
    }
}
