.radius-button
{
    position: relative;

    width: 50px;
    height: 50px;

    cursor: pointer;

    font-size: 0;

    opacity: .6;
    border: none;
    border-radius: 50%;
    outline: none;
    background: url(img/icons/zoom.svg) center / 25px 25px no-repeat #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);

    transition: .15s opacity linear;
}

.page_hoverable .radius-button:hover,
.page_hoverable .radius-button:focus
{
    opacity: .8;
    outline: none;
}

.page_hoverable .radius-button:active
{
    opacity: 1;

    transition-duration: .05s;
}

@media (max-width: 767px)
{
    .radius-button
    {
        top: 5px;
        right: -10px;

        width: 42px;
        height: 42px;
    }
}
