.scroll-icon
{
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;

    box-sizing: border-box;
    width: 18px;
    height: 25px;
    margin: auto;

    text-align: center;

    line-height: 10px;

    border: 1px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .2);

    transition: all .2s ease-in-out;
}

.scroll-icon:before
{
    display: inline-block;

    width: 2px;
    height: 5px;

    content: '';

    background: #fff;
}

.scroll-icon__arrow
{
    position: relative;
    top: 18px;

    overflow: hidden;

    height: 5px;

    transform: scaleX(1.2);
    animation: pulse infinite 1.5s linear;
}

.scroll-icon__arrow:nth-child(2)
{
    animation-delay: .5s;
}

.scroll-icon__arrow:nth-child(3)
{
    animation-delay: 1s;
}

.scroll-icon__arrow:before
{
    position: relative;
    top: -8px;

    display: inline-block;

    width: 6px;
    height: 6px;

    content: '';

    border: 2px solid #fff;
    border-top: none;
    border-left: none;

    transform: rotate(45deg);
}

@keyframes pulse
{
    0%,
    100%
    {
        opacity: .6;
    }
    50%
    {
        opacity: 1;
    }
}


@media (max-width: 1024px)
{
    .scroll-icon
    {
        bottom: 25px;

        height: auto;

        border: none;
        background: none;
    }

    .scroll-icon:before
    {
        display: none;
    }

    .scroll-icon__arrow
    {
        top: 0;

        height: 8px;

        transform: scale(1.6, 1.4);
    }
}

@media (max-width: 767px)
{
    .scroll-icon
    {
        display: none;
    }
}
