.scroll-icon
{
    position: absolute;
    right: 0;
    bottom: 6vh;
    left: 0;

    width: 100px;
    margin: auto;

    text-align: center;
}

.page:not(.page_js) .scroll-icon,
.page:not(.page_hoverable) .scroll-icon_mouse,
.page.page_hoverable .scroll-icon_touch
{
    display: none;
}

.scroll-icon_mouse
{
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
}

.scroll-icon_mouse:before
{
    display: inherit;

    box-sizing: border-box;
    width: 20px;
    height: 30px;
    margin: 10px 0 0;

    content: '';

    border: 1px solid #fff;
    border-radius: 20px;
}

.scroll-icon__dot
{
    position: absolute;
    top: 13px;
    right: 0;
    left: 0;

    width: 2px;
    height: 2px;
    margin: auto;

    opacity: 0;
    border-radius: 50%;
    background: #fff;

    animation: drip infinite 2s linear;
}

.scroll-icon__dot:nth-child(2)
{
    animation-delay: 1s;
}

@keyframes drip
{
    0%
    {
        opacity: 0;
    }

    25%,
    50%
    {
        opacity: 1;

        transform: translateY(5px);
    }

    75%
    {
        opacity: 0;

        transform: translateY(8px);
    }
}

.scroll-icon_touch
{
    bottom: 25px;

    display: inline-block;

    width: 10px;
}

.scroll-icon__arrow
{
    position: relative;
    top: 0;

    overflow: hidden;

    height: 5px;
    margin: 0 0 2px;

    transform: scale(1.6, 1.4);
    animation: pulse infinite 1.5s linear;
}

.scroll-icon__arrow:nth-child(2)
{
    animation-delay: .5s;
}

.scroll-icon__arrow:nth-child(3)
{
    animation-delay: 1s;
}

.scroll-icon__arrow:before
{
    position: relative;
    top: -12px;

    display: inline-block;

    width: 6px;
    height: 6px;

    content: '';

    border: 2px solid #fff;
    border-top: none;
    border-left: none;

    transform: rotate(45deg);
}

@keyframes pulse
{
    0%,
    100%
    {
        opacity: .6;
    }
    50%
    {
        opacity: 1;
    }
}

@media (max-width: 767px)
{
    .scroll-icon
    {
        display: none;
    }
}
