.social__link
{
    position: relative;

    display: inline-block;

    padding: 0 0 0 28px;

    line-height: 30px;
}

.social__link + .social__link
{
    margin: 0 0 0 40px;
}

.social__link:before
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto 0;

    content: '';

    color: #fff;
    background-repeat: no-repeat;
}

.social__link_facebook:before
{
    left: 10px;

    width: 11px;
    height: 22px;

    background-image: url('img/socials/facebook.svg');
}

.social__link_instagram:before
{
    left: 0;

    width: 19px;
    height: 19px;

    background-image: url('img/socials/instagram.svg');
}

.social__link_youtube:before
{
    left: -5px;

    width: 25px;
    height: 19px;

    background-image: url('img/socials/youtube.svg');
}
