.social__link
{
    position: relative;

    padding: 0 0 0 28px;
}

.social__link + .social__link
{
    margin: 0 0 0 40px;
}

.social__link:before /* fixme after image */
{
    position: absolute;
    top: 0;
    bottom: 0;

    margin: auto 0;

    content: '';

    opacity: .35;
    color: #fff;
}

.social__link_facebook:before
{
    left: 10px;

    width: 11px;
    height: 22px;

    background: url('img/icons/fb_logo.svg') no-repeat;
}

.social__link_instagram:before
{
    left: 0;

    width: 19px;
    height: 19px;

    background: url('img/icons/insta_logo.svg') no-repeat;
}

.social__link_youtube:before
{
    left: -5px;

    width: 25px;
    height: 19px;

    background: url('img/icons/youtube_logo.svg') no-repeat;
}
