.story
{
    text-align: center;

    background: #eeede9 url(img/decoration/common/pattern.svg) 0 / 300px auto;
}

.story__image-wrapper
{
    position: relative;

    width: 100%;
    height: 75vh;
}

.story__image-wrapper:before,
.story__image
{
    position: absolute;
    right: 0;
    left: 0;

    margin: auto;

    background-position: 50% 50%;
    background-size: cover;
}

.story__image-wrapper:before
{
    position: absolute;
    top: calc(50% - 100px);

    width: 50px;
    height: 50px;

    content: '';

    background: url(img/decoration/common/spinner.svg) 50% 50% / cover;

    animation: spin 4s infinite linear;
}

.story__image
{
    top: 0;
    bottom: 0;
}

@keyframes spin
{
    100%
    {
        transform: rotate(360deg);
    }
}

.story__wrapper
{
    width: 900px;
    margin: 0 auto;
}

.story__content
{
    position: relative;
    z-index: 0;

    margin: -150px 0 45px;
    padding: 75px 115px 90px;

    background: #fff;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, .07);
}

.story__content:before
{
    position: absolute;
    z-index: -1;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;

    content: '';

    border: solid 1px #ae8159;
}

.story__title
{
    margin: 0 0 45px;

    font: bold 44px / .9 PFRegal;
}

.story__quote
{
    text-align: left;

    font-size: 18px;
    line-height: 1.33;

    color: #4b4b4b;
}

.story__author
{
    position: relative;

    display: block;

    margin: 70px 0 0;
    padding: 70px 0 0;

    text-align: center;

    font: bold italic 21px / 1.15 Lazurski, serif;
}

.story__author:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 153px;
    height: 48px;
    margin: 0 auto;

    content: '';

    background: url(img/decoration/story/article.svg) 50% 50% no-repeat;
}

@media (max-width: 1024px)
{
    .story__wrapper
    {
        width: calc(100% - 20px);
        max-width: 850px;
        margin: auto;
    }

    .story__content
    {
        margin: -160px 0 45px;
        padding: 75px 80px 70px;
    }

    .story__title
    {
        font-size: 40px;
    }

    .story__author
    {
        margin: 40px 0 0;
        padding: 65px 0 0;
    }

    .story__author:before
    {
        background-size: 140px;
    }
}

@media (max-width: 767px)
{
    .story__image-wrapper
    {
        height: 100vh;
    }

    .story__image-wrapper:before
    {
        top: calc(50% - 125px);
    }

    .story__content
    {
        margin: -200px 0 25px;
        padding: 45px 35px 50px;
    }

    .story__content::before
    {
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }

    .story__title
    {
        margin: 0 0 30px;

        font-size: 22px;
        line-height: 22px;
    }

    .story__quote
    {
        font-size: 15px;
        line-height: 17px;
    }

    .story__author
    {
        margin: 20px 0 0;
        padding: 50px 0 0;

        font-size: 17px;
    }

    .story__author:before
    {
        background-size: 100px;
    }
}
