.timeline
{
    position: absolute;
    right: 0;
    bottom: 70px;
    left: 0;

    text-align: center;

    font-family: IntroCaps, sans-serif;

    color: #ae8159;
}

.timeline__inner
{
    margin: 0 0 0 130px;
    padding: 0;

    list-style: none;

    border-bottom: 1px solid;

    transition: margin .5s ease-in-out;
}

.timeline__item
{
    position: absolute;
    left: 130px;

    display: inline-block;

    width: 150px;
    margin: 0 0 0 -75px;

    cursor: pointer;
}

.timeline__item_inactive
{
    pointer-events: none;
}

.timeline__inner:before,
.timeline__item:before
{
    display: block;

    width: 7px;
    height: 7px;

    content: '';

    border-radius: 50%;
    background: currentColor;

    transition: box-shadow .3s ease-in-out;
}

.timeline__inner:before
{
    position: absolute;

    margin: -3px 0 0 -3px;
}

.timeline__item:before
{
    margin: -3px auto 0;
}

.timeline__item
{
    left: 260px;

    opacity: 0;

    transition: all .5s ease-in-out;
    transform: translateZ(0);
}

.timeline__item_current
{
    left: 50%;
}

.timeline__item_current ~ .timeline__item,
.timeline__item_current + .timeline__item:last-child
{
    left: calc(100% - 130px);
}

.timeline__item_current + .timeline__item
{
    left: calc(100% - 130px * 2);
}

.timeline__item_prev,
.timeline__item_current,
.timeline__item_current + .timeline__item,
.timeline__item_current + .timeline__item + .timeline__item
{
    opacity: 1;
    z-index: 1;
}

.timeline__item_current:before
{
    box-shadow: 0 0 0 3px #f7f6f5, 0 0 0 4px;
}

.horizontal-slider_type_dark .timeline__item_current:before
{
    box-shadow: 0 0 0 3px #303030, 0 0 0 4px;
}

.timeline__year
{
    position: absolute;
    bottom: 100%;

    width: 100%;
    padding: 0 0 10px;

    font-size: 13px;
    line-height: 1;

    transition: transform .5s ease-in-out;
    transform-origin: 50% 100%;
}

.timeline__item_current .timeline__year
{
    transform: scale(1.2);
}

.timeline__text
{
    margin: 10px 0 0;

    font-size: 11px;
}

@media (min-width: 1025px) {
    .timeline__item:first-child:not(.timeline__item_current)
    {
        left: 130px;
        opacity: 1;
    }
}

@media (max-width: 1024px)
{
    .timeline__inner
    {
        margin-left: 65px;
    }

    .timeline__item
    {
        left: 195px;
    }

    .timeline__item_current
    {
        left: 50%;
    }

    .timeline__item_current + .timeline__item:last-child,
    .timeline__item_current ~ .timeline__item,
    .timeline__item_current + .timeline__item + .timeline__item
    {
        left: calc(100% - 65px);
    }

    .timeline__item_current + .timeline__item
    {
        left: calc(100% - 195px);
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{
    .timeline__item:first-child:not(.timeline__item_current)
    {
        opacity: 1;
        left: 65px;
    }
}

@media (max-width: 767px)
{
    .timeline
    {
        bottom: 28px;
    }

    .timeline__inner
    {
        margin-left: 0;
    }

    .timeline__inner:before
    {
        display: none;
    }

    .timeline__year
    {
        padding-bottom: 7px;

        font-size: 11px;
    }

    .timeline__item
    {
        left: 50px;
        width: 90px;
        margin-left: -45px;
    }

    .timeline__item_current
    {
        left: 50%;
    }

    .timeline__item_current ~ .timeline__item,
    .timeline__item_current + .timeline__item,
    .timeline__item_current + .timeline__item:last-child,
    .timeline__item_current + .timeline__item + .timeline__item
    {
        left: calc(100% - 50px);
    }

    .timeline__item_current + .timeline__item + .timeline__item
    {
        z-index: 0;
        opacity: 0;
    }

    .timeline__text
    {
        margin-top: 7px;
    }

    .timeline__text,
    .timeline__item_prev .timeline__text,
    .timeline__item_current + .timeline__item .timeline__text
    {
        opacity: 0;
    }

    .timeline__item_current .timeline__text
    {
        transition: opacity .5s linear;
        opacity: 1;
    }
}
